# Ignora arquivos do sistema 
*.log 
*.tmp 
.DS_Store 
Thumbs.db 
 
# Pastas do Windows e OneDrive 
AppData/ 
OneDrive/ 
Configura‡äes Locais/ 
Cookies/ 
Recent/ 
Desktop.ini 
 
# Node e dependˆncias (se usar) 
node_modules/ 
dist/ 
.env
